@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box; }
html{ scroll-behavior: smooth; }
html, body{ height: 100%; }

body{
    background-color: #191A1F;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* --------- Header --------- */

header{
    display: flex;
    flex-direction: column;
}

.header-logo{
    width: 500px;
    margin-top: 20px;
    margin: 0 auto; 
}

.developer{
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
}

.developer-text{
    font-size: 20px;
    font-weight: 300;
}

.gitlink{
    color: white;
    font-size: 20px;
    transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}

.gitlink:hover{
    color: #8743CC;
    font-size: 30px;
}

/* --------- Sections --------- */

.section-intro, .section-sobre, .section-calculadora{
    margin: 100px auto 0px;
    width: 90vw;
    max-width: 1300px;
    display: flex;
    justify-content: center;
}

.svg-calculator > img{
    width: 640px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.intro-text > h1{
    font-size: 50px;
    margin-top: 45px;
}

.intro-text > h2{
    font-size: 30px;
    margin-top: 20px;
    font-weight: 300;
}

.intro-text > .button-link{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
    font-size: 40px;
    width: 320px;
    height: 60px;
    border-radius: 10px;
    margin-top: 40px;
    font-weight: bolder;
    background-color: #8743CC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-text > .sobre-link{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
    color: #8743CC;
    font-size: 30px;
    font-weight: 300;
    margin-top: 15px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------- Section sobre --------- */

.section-sobre{
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
}

.section-sobre > h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.tabs-buttons > button{
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: 300;
    font-size: 18px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #283440;
}

.tabs-buttons > button.active-tab{
    background-color: #333E4A;
    font-weight: bolder;
}

.tabs-content{
    width: 1100px;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #333E4A;
}

.tabs-content > .tab{
    width: 100%;
    height: 100%;
    display: none;
}

.tabs-content > .active-tab{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-svg{
    width: 400px;
}

.tab > .align-svg{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab > .at-right{ width: 40%; }
.tab > .at-left{ width: 40%; }

.tab > .at-left{
    margin-right: 10px;
    text-align: right;
}

.tab > .at-right{ margin-left: 10px; }
.tab > .at-right > h1{ font-size: 35px; }
.tab > .at-right > p{ font-size: 20px; font-weight: 300; }

.tab > .at-left{ margin-right: 10px; }
.tab > .at-left > h1{ font-size: 35px; }
.tab > .at-left > p{ font-size: 20px; font-weight: 300; }

/* --------- Section calculadora --------- */

.section-calculadora{
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.section-calculadora > h1{
    font-size: 40px;
}

.section-calculadora > h2{
    font-weight: lighter;
    color: rgba(255, 0, 0, 0.808);
}

.container-inputs{
    width: 800px;
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    z-index: 9;
}

.input-calculadora{
    background-color: #333E4A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-calculadora > h2{
    font-weight: normal;
}

.input-calculadora > input{
    background: none;
    border: none;
    outline: none;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    border-bottom: 2px solid #8743CC;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.container-svg{
    width: 1000px;
    height: 750px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-input{
    display: block;
    position: absolute;
    z-index: 3;
    width: 150px;
    height: 150px;
    fill: #8743CC;
}

.svg-relogio{
    top: 20px;
    left: 20px;
}

.svg-trabalhando{
    top: 20px;
    right: 20px;
}

.svg-ferias{
    bottom: 70px;
    left: 10px;
}

.svg-dinheiro{
    bottom: 70px;
    right: 20px;
}

/* --------- Footer --------- */

footer{
    margin-top: 100px;
    height: 100px;
    background-color: #333E4A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    width: 300px;
}